html{
    scrollbar-width: none;
    height: 100%
}

body{
    /* background-color: #F1F1F1; */
    background-color: #1F1F1F;
    height: 100%;
    margin: 0 0;
    /* overflow: hidden; */
}

#btn-toggle-nav {
    position: fixed;
    width: 12vh;
    height: 12vh;
    background-color: transparent;
    background-image: url("img/hamburger.png");
    filter: invert(1);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    cursor: pointer;
    transition-duration:0.5s;
    z-index: 100;
}

#btn-toggle-nav:hover {
    background-size: 100%;
}

#btn-toggle-nav:active{
    transform: rotate(90deg);
}

#nav-sidebar{
    position: fixed;
    z-index: 99;
    left:0;
    bottom:0;
    top: 0;
    height: auto;
    width: 0%;
    background-color: #2C98E3;
    background-color: #F1F1F1;
    opacity: 0.85;
    transition: all 0.3s ease-in-out;
}

.menu-items{
    display: flex;
    height:80vh;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 0;
    padding: 10vh 5vh 15vh 5vh;
}

.menu-item{
    list-style: none;
    line-height: 15vh;    
    visibility: hidden;
}

.menu-item-link{
    display: block;
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 5vh;
    height: 100%;
    color: #1F1F1f;
    text-decoration: none;
    white-space: nowrap;
    transition: padding 0.2s ease-in-out;
}

.menu-item-link:hover{
    padding: 0 1rem;
    font-weight: bold;
}

.main{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    scrollbar-width: none;
}

.wrapper{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.main{
    padding: 0 0;
}

#content{
    overflow-y: visible;
    scrollbar-width: none;
    display: flex;
    flex: 1 1 50%;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.photo{
    position: sticky;
    top: 0;
    object-fit: cover;
    height: 100vh;
    width: 50%;
    padding: 0%;

}

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    color: #F1F1F1;    
}

.name-water-mark{
    position: fixed;
    width: auto;
    height: auto;
    margin: 0 0;
    padding: 1rem 1rem;
    color: #F1F1F1;
    text-shadow: 2px 2px rgba(31, 31, 31, 0.6);
    right: 0;
    bottom: 0;
    font-weight: bold;
    font-size: 1rem;
    z-index: 99;
}

.about-water-mark{
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    font-size:25vh;
    line-height: 10rem;
    margin: 0 0;
    margin-left: -1.2em;
    margin-top: 1.6em;
    transform: rotate(-90deg);
    font-family: 'Noedisplay, sans-serif';
    font-weight: bold;
    opacity: 0.1;
    text-shadow: 0.5rem 0.5rem rgba(241, 241, 241, 0.3);
}

#about-header{
    font-size: 5vh;
    white-space: nowrap;
    padding: 4vh;
    margin-top: 40vh;
    text-align: end;
}

.about{
    display: flex;
    height: 100vh;
    width: 100%;
    color: #F1F1F1;

    padding: 0;
    margin: 0;

    justify-content: flex-start;
    align-items: flex-end;


}

#line{
    opacity: 0;
    position: absolute;
    right: 62vw;
    top:5vh;
    height: 80vh;
    width: 0.5vw;
    background-color: rgba(241, 241, 241, 0.3);
    transition: opacity 1s ease-in-out;

}

.icons{
    position: relative;
    font-size: 2vh;
    height: 80vh;
    width: auto;
    top:0;
    left: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-paragraph{
    margin: 0 0;
    padding: 7vh 7vh;
    width: 25vw;
    height: 50vh;
    line-height: 2em;
    text-justify: distribute-all-lines;
}